/*
!.gitignore

**untitled*.py
**untitled*.txt
**/.ipynb_checkpoints
**/desktop.ini

!images/
!example_data/

!*.ipynb
!*.md
!*.yml

!postBuild

exercises.ipynb
exercises_answers.ipynb
sandbox.ipynb

**/desktop.ini